<div class="l-banner">
    <a href="#" class="l-til-icon"><img src="../img/github.png" alt="github"></a>
    <h3 class="text-center">Component</h3>
    <p class="text-center">汇聚D3JS图表，沉淀技术提升效率</p>
</div>