<div class="l-banner">
    <a href="https://github.com/funlee/d3charts" class="l-til-icon" target="_black"><img src="../img/github.png" alt="github"></a>
    <h3 class="text-center">Component</h3>
    <p class="text-center">汇聚D3JS图表，沉淀技术，提升效率</p>
</div>
<div class="auto-tooltip"></div>