<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="l-card" data-chart="bar">
                <a href="#" class="l-short-scan">
                    <img src="../img/bar.png" alt="" class="img-responsive">
                    <p class="text-center">基础柱状图-Rect</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="l-card" data-chart="barNormal">
                <a href="#" class="l-short-scan">
                    <img src="../img/bar-normal.png" alt="" class="img-responsive">
                    <p class="text-center">柱状图扩展-Circle</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="l-card" data-chart="barMask">
                <a href="#" class="l-short-scan">
                    <img src="../img/bar-mask.png" alt="" class="img-responsive">
                    <p class="text-center">柱状图扩展-Mask</p>
                </a>
            </div>
        </div>
    </div>
</div>