<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="l-card" data-chart="bar">
                <a href="#" class="l-short-scan">
                    <img src="../img/bar.png" alt="" class="img-responsive">
                    <p class="text-center">基础柱状图-Rect</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="l-card" data-chart="barNormal">
                <a href="#" class="l-short-scan">
                    <img src="../img/bar-normal.png" alt="" class="img-responsive">
                    <p class="text-center">柱状图扩展-Circle</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="l-card" data-chart="barMask">
                <a href="#" class="l-short-scan">
                    <img src="../img/bar-mask.png" alt="" class="img-responsive">
                    <p class="text-center">柱状图扩展-Mask</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="l-card" data-chart="barPath">
                <a href="#" class="l-short-scan">
                    <img src="../img/bar-path.png" alt="" class="img-responsive">
                    <p class="text-center">柱状图扩展-Path</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="l-card" data-chart="barCss">
                <a href="#" class="l-short-scan">
                    <img src="../img/bar-css.png" alt="" class="img-responsive">
                    <p class="text-center">柱状图扩展-CSS</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="l-card" data-chart="line">
                <a href="#" class="l-short-scan">
                    <img src="../img/line.png" alt="" class="img-responsive">
                    <p class="text-center">折线图</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="l-card" data-chart="area">
                <a href="#" class="l-short-scan">
                    <img src="../img/area.png" alt="" class="img-responsive">
                    <p class="text-center">面积图</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="l-card" data-chart="pie">
                <a href="#" class="l-short-scan">
                    <img src="../img/pie.png" alt="" class="img-responsive">
                    <p class="text-center">饼图</p>
                </a>
            </div>
        </div>
    </div>
</div>