<footer class="l-footer">
    <div class="container">
        <p class="h5">FUNLEE · 时感人生的虚无，却无法抑制的沸腾</p>
        {{!-- <ul class="list-inline">
            <li><a>友情链接</a></li>
            <li><a href="http://byr.wiki/" target="_blank">北邮人导航</a></li>
            <li><a href="https://zhuanlan.zhihu.com/xiaxiaozheng" target="_blank">小正说事</a></li>
        </ul> --}}
        <p>Copyright © 2017-2099 funlee. All Rights Reserved.V.1.1.0.</p>
    </div>
</footer>